In [1]:
import psycopg2
import pandas as pd
df = pd.read_excel("rvmucret.xlsx")

In [5]:
type(df)

pandas.core.frame.DataFrame

In [4]:
con = psycopg2.connect(
                        host = "localhost",
                        database = "my_database",
                        user = "postgres",
                        password = "1234")

cur = con.cursor()

for i in range(len(df)):
    cur.execute("insert into reward (kod, ucret) values (%s, %s)",
                (int(df.iloc[i,0]), df.iloc[i,1]))
    
# numpy.int64 old. icin int'e cevirdim.
# numpy.float64 old. icin int'e cevirdim.
# digerleri ya str ya da float old. icin tip degistimek gerekli degil.
# numpy.int64,float64'ten dogrudan %s yapamiyoruz.
cur.execute("select * from reward")
rows = cur.fetchall()
con.commit()
print(rows)
cur.close()
con.close()

DatatypeMismatch: column "ucret" is of type numeric[] but expression is of type numeric
LINE 1: ...t into reward (kod, ucret) values (8693855001609, 0.83523632...
                                                             ^
HINT:  You will need to rewrite or cast the expression.

In [295]:
df

,kod,isim,hacim_lt,cinsi,bos_agirlik_gr,max_agirlik_gr,Unnamed: 6
0,8693855001609,FRESA FRESHER MADEN SUYU 250ML.MANDALIN,0.25,GLASS,143.0,243.0,NaN
1,8693855001548,FRESA FRESHER MADEN SUYU 250ML.NAR,0.25,GLASS,143.0,243.0,NaN
2,8693593215320,HAYAT SU 6X0.5LT SPOR KAPAKLI,"6x0,5",PLASTIC,13.0,113.0,NaN
3,8692813003914,KIZILAY SODA 200ML.MANDALINA,0.2,GLASS,143.0,243.0,NaN
4,8692813002023,KIZILAY SODA 200ML.NAR,0.2,GLASS,143.0,243.0,NaN
...,...,...,...,...,...,...,...
638,90495502,Sprite,0.2,GLASS,137.0,237.0,oktay ekledi
639,5449000254160,Fanta Limon-Ta,0.2,METAL,11.0,111.0,oktay ekledi
640,8690793600321,Erikli Su,0.75,GLASS,560.0,660.0,oktay ekledi
641,8697419970035,Kalabak su,0.5,PLASTIC,13.0,113.0,oktay ekledi
642,8690574104529,Lipton Ice Tea Karpuz Nane,0.33,METAL,14.0,NaN,oktay ekledi

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643 entries, 0 to 642
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   kod             643 non-null    int64
 1   isim            643 non-null    object
 2   hacim_lt        643 non-null    object
 3   cinsi           643 non-null    object
 4   bos_agirlik_gr  643 non-null    float64
 5   max_agirlik_gr  642 non-null    float64
 6   Unnamed: 6      11 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 35.3+ KB

In [304]:
df.isnull().sum()

kod                 0
isim                0
hacim_lt            0
cinsi               0
bos_agirlik_gr      0
max_agirlik_gr      1
Unnamed: 6        632
dtype: int64

In [305]:
df.loc[df['isim'] == "Lipton Ice Tea Karpuz Nane" ]

,kod,isim,hacim_lt,cinsi,bos_agirlik_gr,max_agirlik_gr,Unnamed: 6
642,8690574104529,Lipton Ice Tea Karpuz Nane,0.33,METAL,14.0,NaN,oktay ekledi

In [306]:
new_df = df.drop(['Unnamed: 6'], axis=1)

In [4]:
new_df

NameError: name 'new_df' is not defined

In [309]:
new_df = new_df.fillna(114)
new_df

,kod,isim,hacim_lt,cinsi,bos_agirlik_gr,max_agirlik_gr
0,8693855001609,FRESA FRESHER MADEN SUYU 250ML.MANDALIN,0.25,GLASS,143.0,243.0
1,8693855001548,FRESA FRESHER MADEN SUYU 250ML.NAR,0.25,GLASS,143.0,243.0
2,8693593215320,HAYAT SU 6X0.5LT SPOR KAPAKLI,"6x0,5",PLASTIC,13.0,113.0
3,8692813003914,KIZILAY SODA 200ML.MANDALINA,0.2,GLASS,143.0,243.0
4,8692813002023,KIZILAY SODA 200ML.NAR,0.2,GLASS,143.0,243.0
...,...,...,...,...,...,...
638,90495502,Sprite,0.2,GLASS,137.0,237.0
639,5449000254160,Fanta Limon-Ta,0.2,METAL,11.0,111.0
640,8690793600321,Erikli Su,0.75,GLASS,560.0,660.0
641,8697419970035,Kalabak su,0.5,PLASTIC,13.0,113.0
642,8690574104529,Lipton Ice Tea Karpuz Nane,0.33,METAL,14.0,114.0

In [310]:
df = new_df

In [311]:
df

,kod,isim,hacim_lt,cinsi,bos_agirlik_gr,max_agirlik_gr
0,8693855001609,FRESA FRESHER MADEN SUYU 250ML.MANDALIN,0.25,GLASS,143.0,243.0
1,8693855001548,FRESA FRESHER MADEN SUYU 250ML.NAR,0.25,GLASS,143.0,243.0
2,8693593215320,HAYAT SU 6X0.5LT SPOR KAPAKLI,"6x0,5",PLASTIC,13.0,113.0
3,8692813003914,KIZILAY SODA 200ML.MANDALINA,0.2,GLASS,143.0,243.0
4,8692813002023,KIZILAY SODA 200ML.NAR,0.2,GLASS,143.0,243.0
...,...,...,...,...,...,...
638,90495502,Sprite,0.2,GLASS,137.0,237.0
639,5449000254160,Fanta Limon-Ta,0.2,METAL,11.0,111.0
640,8690793600321,Erikli Su,0.75,GLASS,560.0,660.0
641,8697419970035,Kalabak su,0.5,PLASTIC,13.0,113.0
642,8690574104529,Lipton Ice Tea Karpuz Nane,0.33,METAL,14.0,114.0

In [312]:
df.isnull().sum()

kod               0
isim              0
hacim_lt          0
cinsi             0
bos_agirlik_gr    0
max_agirlik_gr    0
dtype: int64

In [313]:
df.shape

(643, 6)

In [321]:
type(df.iloc[638,3])

str

In [316]:
for i in range(len(df)):
    if type(df.iloc[i,2]) == str:
        print(df.iloc[i,2])

6x0,5
6x0,2
6x0,2
6x0,2
4x0,25
4x0,5
12x0,5
12x0,5
4x1
6x0,33
6x0,33
6x0,33
4x1
4x0,25
4x0,25
4x0,25
8x0,25
8x0,25
8x0,25
6x0,25
6x0,25
6x0,25
12x1,5
12x1,5
24x0,33
12x0,5
6x1,5
24x0,2
6x0,2
6x0,2
12x0,5
6x1,5
4x0,25
6x0,33
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
24x0,2
6x0,33
6x1,5
6x0,33
6x1,5
12x0,5
4x6x0,2
6x0,2
6x0,2
4x6x0,2
6x0,2
6x0,2
6x0,2
6x0,33
6x0,33
6x0,33
6x0,33
4x1
4x1
6x0,33
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,2
6x0,25
6x0,25
24x0,2
6x0,2
6x0,25
6x0,25
6x0,2
6x0,2
20x0,2
6x0,25
6x0,25
6x0,25
6x0,25
24x0,33
4x0,25
6x0,33
10x0,25
6x0,25
6x0,2
6x0,2
6x0,25
6x0,2